.alert-success {
    background-color: #28a745;
    color: white;
}

.alert-danger {
    background-color: #dc3545;
    color: white;
}

.alert-info {
    background-color: #17a2b8;
    color: white;
}

.alert-warning {
    background-color: #ffc107;
    color: white;
}